CRAWL_SITE_DOMAIN: "example.com"
CRAWL_START_URL: "https://example.com/"

DB_HOST: host.docker.internal
DB_PORT: 3306
DB_NAME: scraping
DB_USER: crawler
DB_PASSWORD: crawlerpass

MYSQL_ROOT_PASSWORD: rootpassword
MYSQL_DATABASE: crawlerdb
MYSQL_USER: crawler
MYSQL_PASSWORD: crawlerpass